<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <article id="logo-name">
            <img src="./asset/icons/LOGO.png" alt="" id="logo">
            <h1>Crypto Cloud Expo</h1>
        </article>

        <nav>
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Topics</a>
            <a href="">Speakers</a>
            <a href="">Sponsors</a>
        </nav>

       
    </header>

    <main>
        <section class="background-section">
            <main id="title">
                <p id="date">October 5, 2023 at 6:30 pm.</p>
                <p id="name-event">Crypto Cloud Expo</p>
                <p id="place">Dubai, ATLANTIS, THE PALM</p>
            </main>

            <article id="buttons-image">
                <button id="button-sponsors">Become Sponsors</button>
                <button id="button-register">Register Now</button>
            </article>
        </section>

        <section id="who-are-we">
            <h2>who are we</h2>
            <p>Crypto Cloud Expo is the blockchain conference network bringing together the key players of crypto industry and experts to redefine the future of finance. The edition of the Crypto Coin Expo will take place during on October 5, 2023 in Dubai, with the world’s top crypto companies and blockchain entrepreneurs. Today, UAE, specifically Dubai is gearing up to become a global crypto hub. Thus, Crypto Cloud Expo will be the gathering in the region on behalf of the world of blockchain and cryptocurrency, with a wide range of topics focused on the financial technologies of the future, extensive networking opportunities and participation from more than 40 countries.</p>
        </section>

        <section id="discussion-topics">
            <h2>Discussion topics</h2>

            <section class="line-topics">
                <article>
                    <img src="" alt="">
                    <h3></h3>
                    <p></p>
                </article>
                
                <article></article>
                <article></article>
            </section>
            
            <section class="line-topics">
                <article></article>
                <article></article>
                <article></article>
            </section>
    
            <section class="line-topics">
                <article></article>
                <article></article>
                <article></article>
            </section>

            <section class="line-topics">
                <article></article>
                <article></article>
                <article></article>
            </section>
        </section>



        <footer>
            <article class="contact">
                <a href=""><img src="./asset/icons/843786_whatsapp_icon.svg" alt="" class="contact-icons"></a>
                <a href=""><img src="./asset/icons/8547122_telegram_plane_icon (1).svg" alt="" class="contact-icons"></a>
                <a href=""><img src="./asset/icons/8665305_envelope_email_icon.svg" alt="" class="contact-icons"></a>
            </article>
        </footer>
    </main>
</body>
</html>